<table border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <div class="subtitle">VideoCoin Network Console</div>
            <div class="title">Stream Published</div>
            <p style="margin-bottom: 48px">
                New stream has been published by {{.by}}.
            </p>
            <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" role="presentation">
                <tbody>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{.url}}" target="_blank">
                                                Stream
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>