<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width" name="viewport" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,500,700"
      rel="stylesheet"
    />
    <title>Welcome To The VideoCoin Network!</title>
    <style>
      {{ template "style.css" }}
    </style>
  </head>

  <body class="">
    <span class="preheader"></span>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      class="body"
      role="presentation"
    >
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <div class="header">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
              >
                <tr>
                  <td class="content-block">
                    <img
                      alt="VideoCoin"
                      height="73"
                      src="https://storage.googleapis.com/vc-static-content/logo.png"
                      width="255"
                    />
                  </td>
                </tr>
              </table>
            </div>
            <table class="main" role="presentation">
              <tr>
                <td class="wrapper">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                  >
                    <tr>
                      <td>
                        <div class="subtitle">Publisher Studio</div>
                        <div class="title">
                          Welcome To The VideoCoin Network!
                        </div>
                        <p>
                          We've expanded our network capacity and would love to
                          have you try our new Publisher Studio. Click the link
                          below to login and take the network for a spin.
                        </p>

                        <table
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          class="btn btn-primary"
                          role="presentation"
                        >
                          <tbody>
                            <tr>
                              <td align="center">
                                <table
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  role="presentation"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <a
                                          href="http://{{.domain}}/sign-in"
                                          target="_blank"
                                          >Sign In</a
                                        >
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <div class="footer">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
              >
                <tr>
                  <td class="content-block">
                    <div class="footer-title">
                      Made by the VideoCoin Development Association Ltd.
                    </div>
                    <div class="footer-subttl"></div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
