<table border="0" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td>
      <div class="subtitle">Publisher Studio</div>
      <div class="title">Withdraw Confirmation</div>
      <p style="margin-bottom: 48px">
        A withdrawal of <b>{{.amount}}</b> VID to address
        <b>{{.address}}</b> has failed to send because of next reason: <br />

        <b>{{.reason}}</b>
        <br />
        
        Try again or contact <a mailto="support@videocoin.io">support@videocoin.io</a> to consult.
      </p>
      <p style="font-weight: 300; font-size: 12px; margin-top: 9px">
        If you did not request a withdrawal, change your password and contact
        <a mailto="support@videocoin.io">support@videocoin.io</a> immediately.
      </p>
    </td>
  </tr>
</table>
           