<table border="0" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td>
      <div class="subtitle">Publisher Studio</div>
      <div class="title">Withdraw Confirmation</div>
      <p style="margin-bottom: 48px">
        A withdrawal of <b>{{.amount}}</b> VID to address
        <b>{{.address}}</b> has been requested from
        your VideoCoin account. <br />
      </p>
      <p style="margin-bottom: 68px">
        Copy the 6 digit code below and paste it into the confirmation
        popup in the Publisher Studio to confirm withdrawal. <br />

        <span style="font-size: 48px; text-align: center; color: #0C0417">
          {{.pin}}
        </span>
      </p>
      <p style="font-weight: 300; font-size: 12px; margin-top: 9px">
        If you did not request a withdrawal, change your password and contact
        <a mailto="support@videocoin.io">support@videocoin.io</a> immediately.
      </p>
    </td>
  </tr>
</table>