<span class="preheader"></span>
<table border="0" cellpadding="0" cellspacing="0" class="body" role="presentation">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <div class="header">
          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="content-block">
                <img alt="VideoCoin" height="73" src="https://storage.googleapis.com/vc-static-content/logo.png"
                  width="255" />
              </td>
            </tr>
          </table>
        </div>
        <table class="main" role="presentation">
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td>
                    <div class="subtitle">Publisher Studio</div>
                    <div class="title">You're On Our Waitlist</div>
                    <p>
                      Thank you for signing up to try out the VideoCoin
                      Publisher Studio. Right now we are slowly expanding
                      the capacity of the network. We'll notify you once
                      you've been accepted onto the network.
                    </p>

                    <div class="subsection">Understanding The Vision</div>
                    <p>
                      In the mean time, see what our full vision for
                      VideoCoin looks like in the video below.
                    </p>
                    <a href="https://www.youtube.com/watch?v=SKQo4cx202E">
                      <img src="https://storage.googleapis.com/vc-static-content/videoplaceholder.png" width="456"
                        height="208" alt="VideoCoin Explained" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>